.app-button {
  width: 30px;
  height: 30px;
  margin: 5px;
  flex:auto;
}

.limpar{
  color: #fff;
  background-color: rgb(253, 2, 2);
  border: 1px solid rgb(41, 169, 219);
  border-radius: 5px;
}
.limpar:hover{
  background-color: rgb(180, 178, 182);
  transition-duration: 0.5s;
 
}
.igual{
  color: #fff;
  background-color: rgb(25, 0, 255);
  border: 1px solid rgb(41, 169, 219);
  border-radius: 5px;
}
.igual:hover{
  background-color: rgb(180, 178, 182);
  transition-duration: 0.5s;
}
.virgula{
  border: 1px solid rgb(41, 169, 219);
  border-radius: 5px;
}
.virgula:hover{
  background-color: rgb(129, 128, 129);
  transition-duration: 0.5s;
}
.numeros{
  border: 1px solid rgb(41, 169, 219);
  border-radius: 5px;
}
.numeros:hover{
  background-color: rgb(129, 128, 129);
  transition-duration: 0.5s;
}
.customize{
  flex:auto;
}
.operacao{
  background-color: rgb(250, 182, 94);
  border: 1px solid rgb(41, 169, 219);
  border-radius: 5px;

}
.operacao:hover{
  background-color: rgb(180, 178, 182);
  transition-duration: 0.5s;
}


